<div class="container">
  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">DISH NAME</th>
        <th scope="col">LIST OF INGREDIENTS</th>
        <th scope="col">QUANTITY</th>
        <th scope="col">UNIT</th>
        <th scope="col">STEPS TO COOK</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dish of dishess">
        <td>
          {{ dish.dishname }}
        </td>
        <td>
          {{ dish.ingredientsList }}
        </td>
        <td>
          {{ dish.quantity }}
        </td>
        <td>
          {{ dish.unit }}
        </td>
        <td>
          {{ dish.stepsToCook }}
        </td>
        <td>
          {{ dish.url }}
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button
      (click)="adddish()"
      class="btn btn-outline-success btn-md round mt-3"
    >
      Add New Dish
    </button>
  </div>
</div>
